.btn-fb-yes{
    background-color: #4267b2;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding: 0;
    width: 70px;
}

.btn-fb-no{
    background-color: rgb(233, 231, 231);
    border:1px solid rgb(146, 145, 145);
    color: rgb(63, 63, 63);
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    padding: 0;
    width: 70px;


}

.btn-login{
    background-color: #4267b2;
    border: 1px solid #29487d;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 26px;    
}

.btn-login:hover{
    background-color: #29487d85;

}

.btn-shadow1{
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.btn-signUp{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;

}



